<div class="form-group">
  <%= f.label "子站域名" %>
  <div class="row sub-site">
    <div class="col-xs-2">
      <%= f.label "永顺车王" %>
    </div>
    <div class="col-xs-6">
      <%= f.text_field :tld, class: "form-control" %>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-default" type="submit">SEO管理</button>
    </div>
  </div>
  <div class="row sub-site">
    <div class="col-xs-2">
      <%= f.label "永顺车王" %>
    </div>
    <div class="col-xs-6">
      <%= f.text_field :tld, class: "form-control" %>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-default" type="submit">SEO管理</button>
    </div>
  </div>
  <div class="row sub-site">
    <div class="col-xs-2">
      <%= f.label "永顺车王" %>
    </div>
    <div class="col-xs-6">
      <%= f.text_field :tld, class: "form-control" %>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-default" type="submit">SEO管理</button>
    </div>
  </div>
</div>
