<h1>车融易-权重及其它设置</h1>

<div class="ui segment">
  <%= form_for :setting,
    url: setting_path(@setting), method: :patch,
    html: { class: "ui form" } do |f|
  %>
    <div class="field">
      <label>联系电话</label>
      <%= f.text_field :phone %>
    </div>

    <h3>健康评级</h3>
    <div class="field">
      <label>毛利润率评级权重</label>
      <%= f.text_field :gross_rake %>
    </div>
    <div class="field">
      <label>资产负债率评级权重</label>
      <%= f.text_field :assets_debts_rate %>
    </div>

    <h3>综合指数</h3>
    <div class="field">
      <label>库存资金量权重</label>
      <%= f.text_field :inventory_amount %>
    </div>
    <div class="field">
      <label>经营健康评级权重</label>
      <%= f.text_field :operating_health %>
    </div>
    <div class="field">
      <label>行业风评权重</label>
      <%= f.text_field :industry_rating %>
    </div>

    <button type="submit" class="ui positive right labeled icon button">
      保存
      <i class="checkmark icon"></i>
    </button>
  <% end %>
</div>
