<tr>
  <td><%= image_tag app.logo, width: 120 %></td>
  <td><%= app.name %></td>
  <td><%= app.alias %></td>
  <td><%= app.domain %></td>
  <td><%= app.slogan %></td>
  <td><%= link_to app.pc_url, app.pc_url, target: "_blank" %></td>
  <td>
    <%= link_to "编辑", edit_app_path(app) %>
    <%= link_to "版本", app_app_versions_path(app) %>
    <%= link_to "删除", app_path(app), method: :delete, data: { confirm: "确认删除#{app.name}" } %>
  </td>
</tr>
