<div class="ui grid">
  <div class="ui wide column">
    <div class="ui action input">
      <%= form_tag parallel_brands_path, method: :get do %>
        <%= text_field_tag "q[name_cont]",
            nil, placeholder: "搜索 品牌"
        %>
        <%= submit_tag "搜索", class: "ui green basic button" %>
      <% end %>
    </div>
    <button id="parallel-brand-new-button" class="ui right floated teal button">
      增加新品牌
    </button>
      <div id="parallel-brand-new-modal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
          增加新品牌
        </div>
        <div class="content">
          <%= form_for :parallel_brand, html: { class: "ui form" } do |f| %>
            <div class="required field">
              <label>名称</label>
              <%= f.text_field :name %>
            </div>
            <div class="required field">
              <label>LOGO</label>
              <%= f.file_field :logo_url %>
            </div>
            <button type="submit" class="ui positive right labeled icon button">
              保存
              <i class="checkmark icon"></i>
            </button>
            <div id="cancel-button" class="ui black deny button">
              取消
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
